@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #05020D;
  --text-color-rgb: 255, 255, 255;
}

body {
  font-family: var(--font-inter);
  color: rgba(var(--text-color-rgb), .8);
  background: var(--background-color);
  /* overflow-x: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.is-menu-open {
  overflow: hidden;
}

.burger-menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
}

.burger-menu-btn span {
  display: block;
  position: relative;
  width: 20px;
  height: 1px;
  background: rgba(var(--text-color-rgb), .8);
  transition: all .3s ease-in-out;
}

.burger-menu-btn span:before,
.burger-menu-btn span:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(var(--text-color-rgb), .8);
  transition: all .3s ease-in-out;
}

.burger-menu-btn span:before {
  transform: translateY(-6px);
}

.burger-menu-btn span:after {
  transform: translateY(6px);
}

.burger-menu-btn.active span {
  background: transparent;
}

.burger-menu-btn.active span:before {
  transform: rotate(45deg);
}

.burger-menu-btn.active span:after {
  transform: rotate(-45deg);
}

.copy-code-btn {
  position: relative;
  display: flex;
  padding: 1px;
  border-radius: 10px;
  overflow: hidden;
}
.copy-code-btn:before {
  content: '';
  position: absolute;
  inset: -500%;
  background: conic-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.02) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.02) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  opacity: 0.4;
  animation: loopRotate 5s linear infinite;
  z-index: 0;
}

.copy-code-btn span {
  position: relative;
  padding: 10px 24px;
  background: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  z-index: 1;
}

.gradient-bg-icon {
  background: linear-gradient(171deg, rgba(255, 255, 255, 0.46) -11%, rgba(255, 255, 255, 0.00) 92%), rgba(255, 255, 255, 0.20);
}

.button-gradient-bg:before {
  background: linear-gradient(45deg, #9B4DFF, #FF2136, #0294FE);
}

@-webkit-keyframes BackgroundAnimation {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes BackgroundAnimation {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes loopRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}